@font-face{font-family: BrandonGrotesque; src: url('fonts/HVD Fonts - BrandonGrotesque-Regular.otf'); };
@font-face{font-family: BrandonGrotesque-Thin; src: url('fonts/onts/HVD Fonts - BrandonGrotesque-Thin.otf'); };
@font-face{font-family: BrandonGrotesque-Light; src: url('fonts/onts/HVD Fonts - BrandonGrotesque-Light.otf'); };
@font-face{font-family: Didot-Italic; src: url('fonts/DidotLTStd-Italic.otf'); };
@font-face{font-family: ; src: url('fonts/.otf'); };
@font-face{font-family: ; src: url('fonts/.otf'); };
@font-face{font-family: ; src: url('fonts/.otf'); };

@font-face